<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.getyourtickets.mapper.FndPlanMapper">

    <resultMap id="fndPlanMap" type="com.getyourtickets.model.FndPlan">
        <result property="id" column="id" />
        <result property="nameEn" column="name_en" />
        <result property="salePrice" column="sale_price" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="getAllFndPlans" resultMap="fndPlanMap">
        SELECT *
        FROM fnd_plan
    </select>
</mapper>